.emptywishlist{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.heart{
    width: 50%;
    margin: auto;
}
.emptywishlist h2{
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
}

.saveBtn {
    background-color: #8a04a5 !important;
    color: #fff !important;
    /* margin-left: 15px; */
    padding-left: 30px !important;
    padding-right: 30px !important;
    
}