.flashSale{
    background: var(--main-purple) !important;
}

.flashSale .flashCount {
    background: #933bb1 !important;
}

.bg_burble {
    background: #8D27AE !important;
}

.text_burble{
    color: #8D27AE !important;
}

.prev , .next {
    position:absolute;
    top:78px;
    z-index: 1;
    color: white ;
    background-color: #8D27AE;
    border-radius: 50%;
    padding: 5px 9px;
    cursor: pointer;
}

.prev{
    left: 15px;
}

.next{
    right: 30px;
}
