.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.controls .but:hover {
    width: 40px;
}
.HomeSliderimg {
    width: 100%;
    height: 90vh;
}
.slider {
    display: flex;
    animation-name: fade;
    animation-duration: 1.5s;
    opacity: 1;
    transition: opacity 0.6s ease;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.but{
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: white;
    border-color:white;
    border-radius: 50px;
    z-index: 5;
}
.but .active{
    width: 40px;
}
.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top:95%;
}
@media(max-width:700px) {
    .HomeSliderimg {
        width: 100%;
        height: 80vh;
    }
    .controls {
        top:85%;
    }
}