.FilterBar{
/*     width: 100%; */
    height:inherit;
    background-color: #FDF8FE;
    padding: 20px;
    font-weight: bold;
    overflow-y: scroll;
}

.FilterBarNight{
    /* width: 100%; */
    height:inherit;
    background-color: #373637;
    padding: 20px;
    font-weight: bold;
    overflow-y: scroll;
}

.FilterBar h2, .FilterBarNight h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #231627;
    position: relative;
    left: 12px;
    width: fit-content;
}
.Filters{
    width: 100%;
    padding: 20px;
    padding-left: 10%;
}
.Filters h3{
    font-size: 25px;
    font-weight: 500;
}
.Filters label{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    margin-left: 10px;
    margin-top: 1.5px;
}
.cat_Filter , .cat_Rate , .cat_Sort_Price , .cat_Price_Range{
    padding: 10px 20px;
}
@media(max-width:700px)
{
    .FilterBar,.FilterBarNight{
        height:50vh;
    }
    .FilterBar h2{
        text-align: center;
        position: relative;
        left: 0px;
        margin: auto;
    }
}

.title {
    color: rgb(111, 25, 139) !important;
}
.LightHeader{
    color: rgb(111, 25, 139) !important;
}

.filterItem {
    color: #aba8a8 !important;
}
.filterCheck{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
