body {
    margin: 2rem;
}

.saveBtn {
    background-color: #8a04a5 !important;
    color: #fff !important;
    margin-right: 15px;
}

.cancelBtn {
    border: 1px solid #8a04a5 !important;
    background-color: #fff !important;
    color: #8a04a5 !important;
    margin-right: 15px;
    /* margin: 0px 15px 0px 0px;
    padding: 6px 12px;
    border-radius: 5px */

}

.headertxt {
    color: #8a04a5 !important;
    /* margin-top: 10px; */
}

.controlLabel {
    margin-top: 12px !important;
    margin-bottom: 6px !important;
    font-weight: bold;
}

@media(min-width: 300px) and (max-width:990px) {
    .headertxt{
        margin-top: 30px;
    }
}

.lightTxt {
    color: #aba8a8 !important;
}