.emptycart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.emptycart h2{
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
}
.besketEmp{
    width: 50%;
    margin: auto;
}
.saveBtn {
    background-color: #8a04a5 !important;
    color: #fff !important;
    /* margin-left: 15px; */
    padding-left: 30px !important;
    padding-right: 30px !important;
    
}
@media(min-width:900px){
    .besketEmp{
        width: 20%;
        margin: auto;
    }
}