/* .searchBar{
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBar.active{
    width: 300px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBar input {
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    border-radius: 30px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBar .searchBtn{
    width: 30px;
    height:30px;
    position: absolute;
    top: -1px;
    right: 0px;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBar .searchCancel{
    width: 30px;
    height:30px;
    position: absolute;
    top: -1px;
    right: 30px;
    opacity: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

} */

/* .searchBar.active input {
    width: 100%;
    height: 100%;
    border: none;
    opacity: 1;
    border-radius: 30px;
    padding: 0 30px 0 10px;
    font-size: 14px;
    box-shadow: 0.5px 0.5px 4px #333;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

/* .searchBar.active .searchBtn{
    width: 28px;
    height:28px;
    position: absolute;
    top: 1px;
    right: 2px;
    background: rgba(51, 51, 51, 0.242);
    box-shadow: inset 0.1px 0.1px 3px #333;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBar.active .searchCancel{
    width: 30px;
    height:30px;
    position: absolute;
    top: -1px;
    right: 30px;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.searchBar {
    width: 300px;
    position: absolute;
    height: 30px;
    border-radius: 5px;
    padding: 0px;
    right: 35%;
}

.searchBar input{
    width: 100%;
    height: 100%;
    border: 1.5px solid #8D27AE;
    outline: none;
    padding: 7px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0.3px 0.3px 1px #333;
}

.searchBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
}

.searchBar input:focus {
    box-shadow: 1px 1px 5px #8D27AE, -1px -1px 5px #8D27AE;
}