.emptywishlist{
    min-width: 31rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emptywishlist h2{
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
}

.saveBtn {
    background-color: #8a04a5 !important;
    color: #fff !important;
}