.emptywishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emptywishlist h2{
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
}
.booksEmp{
    width: 50%;
    margin: auto;
}

.saveBtn {
    background-color: #8a04a5 !important;
    color: #fff !important;
}