/* NavBar Section: */
/* Logo Section: */
.nav-container{
    padding: 5px !important;
}

@media screen and (min-width: 995px) {
.login-section{
    position: relative;
    top: -10px;
}

}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(180deg, #8D27AE, #CE4FF8, #cc6aed) !important;
    background-clip: text !important;
    color: transparent !important;
}

.nav-item-night, .nav-icon-night{
    color: #ABA8A8;
}

.nav-item, .nav-icon{
    color: #848383;
}

.nav-item-night:hover, .nav-icon-night:hover{
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover, .nav-icon:hover{
    color: #000;
    transition: all 0.5s ease-in-out;
}

.nav-btn{
    background-color: #8D27AE !important;
    outline: none !important;
    border: #8D27AE 1px solid !important;
}

.nav-btn:hover{
    background-color: whitesmoke !important;
    color: #8D27AE !important;
    border: #8D27AE 1px solid !important;
    transition: all 0.5s ease-in-out;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 7px;
}

.theme-toggler{
    margin: 20px;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    /* border: solid 1px black; */
    background-image: linear-gradient(aqua, skyblue);
    position: relative;
    cursor: pointer;
}

.theme-toggler.night{
    background-image: linear-gradient(midnightblue, rebeccapurple);
}

.notch{
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 1.5px;
    left: 1px;
    box-shadow: 0 0 5px yellow;
    z-index: 1;
    transition: all 0.4s ease;
}

.night > .notch{
    background: whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    transform: translate(30px,0);
}

.notch > .crater {
    background: burlywood;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4) inset;
}

.night .crater{
    opacity: 0.3;
}

.crater.st{
    left: 0.5px;
    top: 4px;
    height: 5px;
    width: 13px;
    transform: rotate(-45deg);
}

.crater.nd{
    right: 2.5px;
    top: 5px;
    height: 3px;
    width: 8px;
    transform: rotate(45deg);
}

.shape{
    position: absolute;
    background: whitesmoke;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.night > .shape{
    background: lightgray;
    box-shadow: 0 0 3px 0.5px violet;
}

.shape.sm{
    height: 2px;
    width: 15px;
    top: 50%;
    left: 54%;
}

.shape.md{
    height: 3px;
    width: 22px;
    top: 22%;
    left: 25%;
    z-index: 2;
}

.shape.lg{
    height: 4px;
    width: 27px;
    bottom: 17%;
    left: 25%;
}

.night > .shape.sm{
    height: 1.5px;
    width: 1.5px;
    transform: translate(-8px, 1px);
}

.night > .shape.sm.second {
    height: 1px;
    width: 1px;
    transform: translate(-23px, -3px);
}

.night > .shape.md{
    height: 2.5px;
    width: 2.5px;
    transform: translate(3px, -1px);
}

.night > .shape.lg{
    height: 3.5px;
    width: 3.5px;
    transform: translate(-2px, -2px);
}