body{
    margin-top:20px;
    /* background-color: #0f0f0f!important; */
}
.section {
    padding: 100px 0;
    position: relative;
    
}


.contact-name {
  margin-bottom: 30px;
}
.contact-name h5 {
  font-size: 22px;
  /* color: #20247b; */
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-name p {
  font-size: 18px;
  margin: 0;
}


.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #321435;
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
}
.contact-form .form-control:focus {
  border-bottom: 1.5px solid #c114d1;
}
.contact-form .form-control.invalid {
  border-bottom: 1.5px solid #dd1313;
}
/* .contact-form .send {
  margin-top: 20px;
} */

/* .lotty{
    margin-top: 0px;
}
@media (max-width: 767px) {
  .contact-form .send {
    margin-bottom: 20px;
  }
} */

.section-title h2 {
    font-weight: 700;
    color: #8a04a5;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #c114d1;
    padding-left: 15px;
}
.section-title {
    padding-bottom: 45px;
}
/* .contact-form .send {
    margin-top: 20px;
} */
.submitBtn {
  background-color: #8a04a5 !important;
  color: #fff !important;
  /* margin-left: 15px; */
  padding-left: 30px !important;
  padding-right: 30px !important;
  
}