/* .BookCard{
    
} */
.card{
    width: 100%;
    margin: auto;
    background: #FDF8FE;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 30px;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    height: 500px;
}

.cardNight{
    width: 100%;
    margin: auto;
    background: #373637;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 30px;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    height: 500px;
}

.card .Book_Poster, .cardNight .Book_Poster{
    width: 100%;
    height: 250px;
    filter: drop-shadow(0px 7px 4px rgba(110, 110, 110, 0.25));
    border-radius: 15px;
    margin: auto;
    display: inline-block;
}
.card h5, .card h3, .card button, .cardNight h5, .cardNight h3, .cardNight button{
    margin-top: 10px;
}
.card h3, .cardNight h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #8D27AE;
}
.card button, .cardNight button{
    background-color: #8D27AE;
    border-radius: 15px;
    color:white;
    padding: 10px 20px;
}
/* <<<<<<< HEAD */
.card .poster, .cardNight .poster{
/* ======= */
/* .card .poster{ */
    position: relative;
/* >>>>>>> 064fd04123a5f582be55b3c12a9a48eb0b37d657 */
    cursor: pointer;
    width: 100%;
}
.poster_overlay{
    position: absolute;
    width: 100%;
    height: 250px;
    background-color:transparent;
    z-index: 3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
    color:transparent;
}
.poster_overlay::before{
    content: 'Show Details';
    font-weight: 500;
    border-radius: 10px;
    transition: color 0.25s, background-color 0.25s;
    font-size: 15pt;
}
.poster_overlay:hover{
    background-color: rgba(118, 30, 148, 0.644);
    color:white;
}
@media (max-width:767px)
{
    .card .poster{
        position: relative;
        cursor: pointer;
        width: 100%;
    }
}
/* <<<<<<< HEAD
@media(min-width:850px) and (max-width:908px){
    .poster_overlay{
        width: 15.6%;
    }
}
@media(min-width:908px) and (max-width:995px){
    .poster_overlay{
        width: 16%;
    }
} */

.titleNight{
    color: #aba8a8 !important;
}
/* =======
>>>>>>> 064fd04123a5f582be55b3c12a9a48eb0b37d657 */
