.CustomerReview{
    width: 100%;
    margin: auto;
    padding: 50px;
}
.CustomerReview h2{
    font-weight: 700;
    line-height: 48px;
    color: #231627;
    margin-bottom: 25px;
}
.CustomerReview .ReviewBrief{
    padding: 20px;
    background-color: #FDF8FE;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CustomerReview .ReviewBriefNight{
    padding: 20px;
    background-color: #373637;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars{
    color:#FBAC04;
    font-size: 30px;
}
.FullRate h3{
    color: #848383;
}
.RateResult{
    font-weight: 700;
    font-size: 50px;
    color: #782095;
}
.CustomerReview .ReviewBrief .FullRate, .CustomerReview .ReviewBriefNight .FullRate, 
.CustomerReview .ReviewBrief .RateDesc, .CustomerReview .ReviewBriefNight .RateDesc,
.CustomerReview .ReviewBrief .RateDetails, .CustomerReview .ReviewBriefNight .RateDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CustomerReview .ReviewBrief .RateDesc, .CustomerReview .ReviewBriefNight .RateDesc {
    font-weight: 400;
    color: #757373;
}
.CustomerReview .ReviewBrief .RateDetails, .CustomerReview .ReviewBriefNight .RateDetails{
   padding: 30px;
}
.CustomerReview .ReviewBrief .RateDetails .RateDetInfo, .CustomerReview .ReviewBriefNight .RateDetails .RateDetInfo{
    width: inherit;
    margin: 10px 0px !important;
}
.CustomerReview .ReviewBrief .RateDetails .RateDetInfo span, .CustomerReview .ReviewBriefNight .RateDetails .RateDetInfo span{
    position: relative;
    bottom: 8px;
    margin: 0px 2px;
}
.CustomerReview .ReviewBrief .RateDetails .RateDetInfo span, .CustomerReview .ReviewBriefNight .RateDetails .RateDetInfo span{
    font-weight: bold;
}
.CustomerReview .ReviewBrief .RateDetails .RateDetInfo span:first-child, .CustomerReview .ReviewBriefNight .RateDetails .RateDetInfo span:first-child{
    color:#FBAC04;
}

@media(max-width:800px)
{
    *{
        text-align: center;
    }
    .CustomerReview .ReviewBrief, .CustomerReview .ReviewBriefNight{
        padding: 30px;
    }
    .CustomerReview .ReviewBrief .RateDesc, .CustomerReview .ReviewBriefNight .RateDesc {
        padding-top: 30px;
    }
}
@media(min-width:768px) and (max-width:915px)
{
    .stars{
        font-size: 20px;
    }
    .FullRate h3{
        font-size: 13px;
    }
    .FullRate .RateResult{
        font-size: 40px;
    }
}

.title {
    color: rgb(111, 25, 139) !important;
}