.media-icon-container {
    width: 26px !important;
    height: 26px !important;
    margin: 0 5px !important;
    padding: 0 !important;
}

.media-icon-night{
    width: 26px;
    height: 26px;
    margin: 0 !important;
    padding: 0 !important;
    color: #ABA8A8;;
}

.media-icon-night:hover{
    color: #8D27AE;
    transition: all 0.5s ease-in-out;
}

.footer-item{
    color: #ABA8A8;
}

.copyrights{
    position: absolute;
    font-size: 12px;
    color: #ABA8A8;
    bottom: -10px;
    right: 5px;
}