.form{
    width: 80%;
    padding: 60px;
    margin: 0 auto;
    background: rgba(217, 217, 217, 0.644);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 40px;
    padding-bottom:80px;
}

.formNight{
    width: 80%;
    padding: 60px;
    margin: 0 auto;
    background: rgba(55, 54, 55, 0.644);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 40px;
    padding-bottom:80px;
}

.form h2, .formNight h2{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    color: #FFFFFF;
}
.form label, .formNight label{
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
    color: #231627;
}
.passwordVisiblity{
    display:inline-block;
    float:right !important;
    font-weight:bold !important;
    font-size:20px !important;
    position:relative;
    top:11px;
}
.btn{
    width:100%;
    text-align:center;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    background-color:#8D27AE;
    position:relative;
    top:30px;
    margin-bottom:30px;
    border-radius:5px;
}
input[type='radio']:checked{
     background-color:#8D27AE !important;
}
.avatar{
    width:100px;
    height:100px;
    padding:5px;
    margin: auto;
    color:#8D27AE;
    text-align:center;
    font-size:40px;
    border-radius:100%;
    background: #F5F3F3;
    margin-bottom:30px;
}
.avatar p{
    position:relative;
    top:8px;
}
.btn:hover{
    background-color:#380B46;
}
.avatar .customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.avatar .customFileInput::before {
  font-family: 'Font Awesome 5 Free';
  content: '';
  display: inline-block;
  border: none;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 2pt;
  width:20px;
  height:20px;
  position:relative;
  bottom:100px;
}
@media(max-width:700px){
    .form h2, .formNight h2{
        font-size: 30px;
    }
    .form, .formNight{
        width: 100%;
        padding: 30px;
        padding-bottom:90px;
    }
    .form label, .formNight label{
        font-size: 17px;
    }
}

.lightTxt {
    color: #aba8a8 !important;
}